*,
*::before,
*::after {
  box-sizing: border-box;
}

._loginRegister h1 {
  color: #ebd9bc;
  font-family: 'Work Sans', sans-serif;
}
._loginRegister .upload{
  width: 150px;
  margin: auto;
  position: relative;
  cursor: pointer;
}
._loginRegister .upload img{
  width: 100%;height: 100%;
  border-radius: 50%;
}
._loginRegister .upload .round{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #fff;
    width: 100%;
    border-radius: 50%;
    opacity: 0;
}
._loginRegister .upload .round input{
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

.userInfo,
._loginRegister{
  position: relative;
  background: rgba(255, 255, 255, 0.01);
  border-radius: 6px;
  overflow: hidden;
  backdrop-filter: blur(20px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
  padding: 5px;
  width: 400px;
  margin: 0 auto;
  border-radius: 10px;
  backdrop-filter: blur(3px);
}

._loginRegister .form-control{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: white;
}

._loginRegister .form-control label{
  font-weight: bold;
  margin-bottom: 3px;
}

[type="text"],
[type="email"],
[type="password"]{
  padding:7px 10px;
  outline: none;
  margin-bottom: 5px;
  font-size: 16px;
  border-radius: 13px;
  border: 1px solid rgba(0, 0, 0, .3);
  /* width: 110px; */
}

[type="text"]:hover,
[type="text"]:focus,
[type="email"]:hover,
[type="email"]:focus,
[type="password"]:hover,
[type="password"]:focus

{
  border-color:#ebd9bc;
}

.input {
  border-radius: 10px;
}

._navBtn button,
[type="submit"]{
  background: #1d2737;
  color: #ffffff;
  border: 1px solid rgba(0, 0, 0, .1);
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 20px;
  margin-top: 5px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  outline: none;
}

._navBtn button:hover,
[type="submit"]:hover{
  opacity: .9;
}

._navBtn{
  border-top: 1px solid #dedede;
  margin-top: 5px;
}

._navBtn button{
  background: #ebd9bc;
  color: #ffffff;
  width: 100%; 
}

.success-msg,
.error-msg{
  border: 1px solid #ff304f;
  padding: 10px;
  color: #ff304f;
  font-weight: bold;
  border-radius: 2px;
}

.success-msg{
  color: #24b273;
  border-color: #24b273;
}

.userInfo{
  text-align: center;
  margin-top: -45px; 
}

.userInfo ._img{
  font-size: 50px;
}

.userInfo h1{
  text-transform: capitalize;
  margin: 10px 0;
  color: #EBD9BC;
  font-family: 'Work Sans', sans-serif;
}

.userInfo ._email{
  margin: 10px 0;
  color: #EBD9BC;
}

.userInfo button {
  margin-top: 5px;
  background: #9d8b6e;
  color: #ebd9bc;
  padding: 10px 20px;
  font-size: 16px;
  border: 5px solid rgba(0, 0, 0, .1);
  outline: none;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  transition: background .3s;
}

.userInfo button:hover {
  border-color: #EBD9BC;
  color: #ebd9bc;
  background: transparent;
}

*{
  box-sizing: border-box;
}

body {
  margin:50px auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./animated-svg.gif');
  background-size: cover;
  background-repeat:no-repeat ;
  background-attachment: fixed;
}

.App {
  max-width: 900px;
  margin: 0 auto;
  background-color: transparent;
  padding:auto 15px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 3px;
  margin-top: 30px;
}

.App h1 {
  background-color: #9d8b6e;
  text-align: center;
  padding:20px;
  margin: 0;
  color: #1d2737;
  font-family: 'Work Sans', sans-serif;
}

.wrapper {
  flex-wrap: wrap;
  justify-content: center;
  padding: 80px 0;
}

.left-side {
  width: 30%;
}

.right-side {
  padding-left: 20px;
  width: 70%;
}

.right-side table {
  width: 100%;
  border-collapse: collapse;

}


.right-side table th,
.right-side table td {
  border: 1px solid #ffffff;
  padding: 10px;
  text-align: center;
}

.right-side table td button {
  margin: 5px;
}

.right-side table th {
  background-color: #f1c083;
  font-size: 20px;
  padding: 15px;
}

.right-side table button {
  cursor: pointer;
}

.insertForm{
  background-color: #e6d5b9;
  border: 1px solid #e6d5b9;
  padding: 10px;
}

.insertForm h2 {
  margin: 0 0 10px 0;
  text-align: center;
  color:#0f141c;
}

.insertForm label {
  font-weight: bold;
  color: #0f141c;
}

.insertForm input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 5px;
}

.insertForm [type="submit"] {
  margin-top: 5px;
  background: #9d8b6e;
  color: #ebd9bc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

}

.insertForm [type="submit"]:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.btn{
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 3px 5px;
  outline: none;
  border-radius: 2px;
}
.red-btn,
.green-btn{
  border: 3px solid #9d8b6e;
  color: #9d8b6e;
  margin: 0px 5px;
}

.red-btn, .green-btn:hover{
  color: #1d2737;
  background-color: #9d8b6e;
}

.default-btn{
  background-color: #1d2737;
  color: #ebd9bc;
  border: 1px solid #ebd9bc;
}

.default-btn:hover{
  background-color: #ebd9bc;
  color: #1d2737;
}

.btn:hover{
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

#buttn{
  background: #9d8b6e;
  color: #ebd9bc;
  padding: 10px 20px;
  margin: 5px auto;
  font-size: 16px;
  border: 5px solid rgba(0, 0, 0, .1);
  outline: none;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  transition: background .3s;
  display: flex;
  margin-top: -66px;
}

#buttn1{
  margin-top: 5px;
  background: #9d8b6e;
  color: #ebd9bc;
  padding: 10px 20px;
  font-size: 16px;
  border: 5px solid rgba(0, 0, 0, .1);
  outline: none;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  transition: background .3s;
}

#buttn:hover {
  border-color: #EBD9BC;
  color: #ebd9bc;
  background: transparent;
}

#buttn1:hover {
  border-color: #0f141c;
  color: #0f141c;
  background: transparent;
}

table.table {
  border-collapse: collapse;
  width: 100%;
}

table.table td, table.table th {
  border: 1px solid #9d8b6e;
  padding: 8px;
}

table.table tr:nth-child(even){background-color: hsl(39, 62%, 93%);    color: #1d2737;}
table.table tr:nth-child(odd){background-color: #ebd9bc;    color: #1d2737;}
table.table tr:hover {  background-color: #1b2432;  color: #ebd9bc; }
  

table.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #9d8b6e;
  color: #ebd9bc;
}

button.btn.edit-btn , button.btn.delete-btn{
  width: 90px;
  height: 35px;
  margin: 0px 5px;
}

button.btn.delete-btn {
  background-color: #1d2737;
  color: #ebd9bc;
  border: 1px solid #ebd9bc;
}

button.btn.delete-btn:hover {
  background-color: #ebd9bc;
  color: #1d2737;
}

button.btn.edit-btn {
  border: 3px solid #9d8b6e;
  color: #9d8b6e;
}


button.btn.edit-btn:hover {
  color: #1d2737;
  background-color: #9d8b6e;
}

.modal-header , .modal-footer {
  border-bottom: 1px solid #e6d5b9;
  border-top: 1px solid #e6d5b9;
}

.modal-content {
  background-color: #e6d5b9;
}

.btn-check:focus+.btn, .btn:focus , .btn.green-btn {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(235, 217, 188, 0);
}

/* @media screen and (max-width:360px){
  table thead{
    display: none;
  }
  table tbody, table tbody tr{
    display: block; 
    width: 100%;
  }
  table tr{
    margin-bottom: 15px;
  }
  table tbody tr td{
    text-align: right;
    padding-left: 50%;
    position: relative;
  }
} */

/* @media screen and (max-width:768px){
  table thead{
    display: none;
  }
  table tbody, table tbody tr{
    display: flex; 
    width: 100%;
  }
  table tr{
    margin-bottom: 15px;
    align-items: center;
  }
  table tbody tr td{
    text-align: right;
    /* padding-left: 50%; 
    /* padding-right: 50%;

  }
  #buttn{
    margin-left: 112px;
  }
} */


table.table th, table.table tr {
  text-align: center;
  vertical-align: middle;
}

