*,
*::before,
*::after {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

._loginRegister h1 {
  color: #1d2737;
}

.userInfo,
._loginRegister{
  position: relative;
  background: rgba(255, 255, 255, 0.01);
  border-radius: 6px;
  overflow: hidden;
  backdrop-filter: blur(20px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
  /* background-color: rgb(222 222 222 / 10%); */
  padding: 5px;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 10px;
  /* box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px, rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px; */
  backdrop-filter: blur(3px);
  /* margin-top: -100px; */
}

._loginRegister .form-control{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: white;
}

._loginRegister .form-control label{
  font-weight: bold;
  margin-bottom: 3px;
}

[type="text"],
[type="email"],
[type="password"]{
  padding:7px 10px;
  outline: none;
  margin-bottom: 5px;
  font-size: 16px;
  border-radius: 13px;
  border: 1px solid rgba(0, 0, 0, .3);
}

[type="text"]:hover,
[type="text"]:focus,
[type="email"]:hover,
[type="email"]:focus,
[type="password"]:hover,
[type="password"]:focus

{
  border-color:#ebd9bc;
}

.input {
  /* background: hsl(0deg 0% 87% / 50%); */
    border-radius: 10px;
}

._navBtn button,
[type="submit"]{
  background: #1d2737;
  color: #ffffff;
  border: 1px solid rgba(0, 0, 0, .1);
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 20px;
  margin-top: 5px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  outline: none;
}

._navBtn button:hover,
[type="submit"]:hover{
  opacity: .9;
}

._navBtn{
  border-top: 1px solid #dedede;
  margin-top: 5px;
}

._navBtn button{
  background: #ebd9bc;
  /* #ebd9bc */
  color: #ffffff;
  width: 100%; 
}

.success-msg,
.error-msg{
  border: 1px solid #ff304f;
  padding: 10px;
  color: #ff304f;
  font-weight: bold;
  border-radius: 2px;
}

.success-msg{
  color: #24b273;
  border-color: #24b273;
}

.userInfo{
  text-align: center;
  margin-top: -45px; 
}

.userInfo ._img{
  font-size: 50px;
}

.userInfo h1{
  text-transform: capitalize;
  margin: 10px 0;
  color: #EBD9BC;
}

.userInfo ._email{
  margin: 10px 0;
  color: #EBD9BC;
}

.userInfo button {
  margin-top: 5px;
  background: #9d8b6e;
  color: #ebd9bc;
  padding: 10px 20px;
  font-size: 16px;
  border: 5px solid rgba(0, 0, 0, .1);
  outline: none;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  transition: background .3s;
}

.userInfo button:hover {
  border-color: #EBD9BC;
  color: #ebd9bc;
  background: transparent;
}

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./animated-svg.gif');
  background-size: cover;
  background-repeat:no-repeat ;
  background-attachment: fixed;
  /* background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); */
  padding: 50px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.App {
  max-width: 900px;
  margin: 0 auto;
  background-color: transparent;
  padding: 20px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 3px;
  margin-top: 30px;
}

.App h1 {
  background-color: #9d8b6e;
  text-align: center;
  padding: 20px;
  margin: 0;
  color: #1d2737;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}

.left-side {
  width: 30%;
  /* background-color: #f1c083; */
}

.right-side {
  padding-left: 20px;
  width: 70%;
}

.right-side table {
  width: 100%;
  border-collapse: collapse;

}


.right-side table th,
.right-side table td {
  border: 1px solid #ffffff;
  padding: 10px;
  text-align: center;
}

.right-side table td button {
  margin: 5px;
}

.right-side table th {
  background-color: #f1c083;
  font-size: 20px;
  padding: 15px;
}

.right-side table button {
  cursor: pointer;
}

.insertForm{
  background-color: #F9FAFB;
  border: 1px solid #cccccc;
  padding: 10px;
}

.insertForm h2 {
  margin: 0 0 10px 0;
  text-align: center;
}

.insertForm label {
  font-weight: bold;
}

.insertForm input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 5px;
}

.insertForm [type="submit"] {
  margin-top: 5px;
  background: #0f141c;
  color: #ebd9bc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

}

.insertForm [type="submit"]:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.btn{
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 3px 5px;
  outline: none;
  border-radius: 2px;
}
.red-btn,
.green-btn{
  background: #059669;
  color: #ffffff;
}
.red-btn{
  background: #DC2626;
}
.default-btn{
  background: #E5E7EB;
}
.btn:hover{
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

#buttn{
  margin-top: 5px;
    background: #9d8b6e;
    color: #ebd9bc;
    padding: 10px 20px;
    font-size: 16px;
    border: 5px solid rgba(0, 0, 0, .1);
    outline: none;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    transition: background .3s;
}


#buttn:hover {
  border-color:#ebd9bc;
  color: #ebd9bc;
  background: transparent;
}

@media screen and (max-width:767px) {
  table thead{display: none;}
  table tbody, table tbody tr{display: block; width: 100%;}
  table tbody tr td::before, table tbody tr th::before{content:attr(scope); display: block;}
  table tbody tr td{display: block; width: 50%; float: left;}
  /* table tbody tr{margin-bottom: 16px;} */
}


table.table {
  border-collapse: collapse;
  width: 100%;
}

table.table td, table.table th {
  border: 1px solid #9d8b6e;
  padding: 8px;
}

table.table tr:nth-child(even){background-color: hsl(39, 62%, 93%);    color: #1d2737;}
table.table tr:nth-child(odd){background-color: #ebd9bc;    color: #1d2737;}
table.table tr:hover {background-color: #ddd;}

table.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #9d8b6e;
  color: #ebd9bc;
}
